.advcontain{
    flex-direction: row,
    
}

.stdcontainer
 {
    border-radius: 10px;
    margin-bottom: 50px;
    border: 2px solid white;
    background-color: rgba(121, 121, 121, 0.63) ;

}
.stdlistcontain
{
    margin-top: 200px;
}