.loginbox {
  width: 350px;
  height: 250px;
  background: #897165;
  border: 3px solid #463930;
  box-sizing: border-box;
  box-shadow: 3px 3px 0px #463930;
  border-radius: 15px;

}

.logbutton {
  margin: 30px 0 50px 0;
}


.LOGO {
  font-style: normal;
  font-weight: normal;
  font-size: 100px;

}

.label {
  margin-bottom: 15px;
  color: #fff !important;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full {
  height: 100vh;
}

.lbox {
  height: 100%;
}

.top {
  margin-bottom: 40px !important;
}

.bot {
  margin-bottom: 0.75rem;
}

// this is important
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
// other need
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/form/_all.sass";