.input{
    
    width: 250px;
    height: 30px;
    margin-left: 19%;
    background: #FFFFFF;
    border: 2px solid #C4C1BD;
    border-radius: 5px;
    
    
}

.loginbox {
    width: 400px;
    height: 251px;
    align-self:center;
    background: #897165;
    border: 3px solid #463930;
    box-sizing: border-box;
    box-shadow: 3px 3px 0px #463930;
    border-radius: 15px;
    margin-top: 75px;
    
}

.buttonis-link{
    
    width: 120px;
    height: 60px;
    margin-top: 46px;
    margin-left: 120%;
    margin-bottom: auto;
    background: #A99282;
    border: 2px solid #733E2F;
    box-shadow: 2px 2px 0px #733E2F;
    border-radius: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;



    color: #FFFFFF;
}

.label{
    margin-top: 38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-indent: 75px;

    color: #FFFFFF;


}

.LOGO{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-indent: 75px;

}

.body{
    size: 100% auto;
}