$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

.sendMesscontainer {
  border-radius: 5px;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  box-shadow: 4px 0px 0px #219EE5;
  background-color: white;
  text-align: center;
  margin-right: 20px;
  max-width: 300px;
}

.revMesscontainer {
  border-radius: 5px;
  border: 1px solid $orange;
  box-sizing: border-box;
  box-shadow: -4px 0px 0px $orange;

  background-color: white;
  text-align: center;
  margin-left: 20px;
  max-width: 300px;
}

.Messboxcontairne {
  display: flex;
  padding: 0 20px;
  margin-top: 20px;
  flex-direction: row;

  &>p {
    color: gray;
    font-size: 12px;
    align-self: flex-end;
    margin: 0 10px;
  }
}

.l {
  justify-content: flex-start;
}

.r {
  justify-content: flex-end;
}

.phar {
  margin: 5px 10px
}

.chatfeedbox {
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.chatcontainer {

  border-radius: 5px;
  border: 2px solid gray;
  margin: 0 auto;
  margin-top: 60px;
 
  display: flex;
  height: 90vh;
  flex-direction: column-reverse;
  align-items: flex-end;
  max-width: 600px;
  
}

.sendcontainer {

  display: flex;
  width: 100%;
  margin: 20px 0px 20px 0px;
  

  &>input {

    margin: 5px auto 5px 35px;
    width: 80%;

  }

  &>button {

    margin: 5px 35px 5px auto;
  }
}



@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
// other need
//@import "~bulma/sass/";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/form/_all.sass";