.marpage{
    
    margin: 60px;
}
.text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    display: block;
    align-items: center;
    text-align: center;
    color:#242424;
}