@import "../Palette.scss";


.table{
    margin-top: 10%;
    margin-bottom: 5%;
    border-collapse: collapse;
    border-radius: 1em;
    min-width: 200px;
    width: 40%;
}

.courseid{
  width: 15%;
}


.credit{
  width: 10%;
}
.grade{
  width: 10%;
}

$table-head-background-color : rgb(56, 56, 56);
$table-head-cell-color:white;
$table-cell-border: 2px solid #bdbdbd;
$table-striped-row-even-background-color:$light;
$table-row-hover-background-color:#9e9e9e;
$table-striped-row-even-hover-background-color:#9e9e9e;


@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
//// other need
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/form/_all.sass";
