@import "../Palette.scss";


.table{
    margin-top: 10%;
    margin-bottom: 20%;
    border-collapse: collapse;
    border-radius: 1em;
    min-width: 200px;
    width: 40%;
}

.courseid{
  width: 15%;
}


.credit{
  width: 10%;
}
.grade{
  width: 10%;
}

$table-head-background-color :$orangebase;
$table-cell-border: 2px solid $halfgray ;
$table-striped-row-even-background-color:$light;
$table-row-hover-background-color:$hoverlight;
$table-striped-row-even-hover-background-color:$hoverlight;


@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
//// other need
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/form/_all.sass";
