html {
  overflow-y: auto !important;
  background-color: #CDC0B0 !important;
}

body {
  background-color: #CDC0B0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #bdbdbd;
}